[submodule "atumm-ext/atumm-core"]
	path = atumm-ext/atumm-core
	url = git@github.com:atumm-ra/atumm-core.git
[submodule "atumm-ext/atumm-services-health"]
	path = atumm-ext/atumm-services-health
	url = git@github.com:atumm-ra/atumm-services-health.git
[submodule "atumm-ext/atumm-services-user"]
	path = atumm-ext/atumm-services-user
	url = git@github.com:atumm-ra/atumm-services-user.git
[submodule "atumm-ext/atumm-extensions"]
	path = atumm-ext/atumm-extensions
	url = git@github.com:atumm-ra/atumm-extensions.git
