name: run tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  STAGE: test

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install PDM
        run: |
          python -m pip install pdm
      - name: Disable VENV
        run: |
          pdm config python.use_venv false

      - name: Install dependencies
        run: |
          pdm sync -d

      - name: Run Tests
        run: |
          pdm run pytest -cov --cov-report html
